@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-white;

    position: relative;
    z-index: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249);

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(100 116 139);
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  /* background-color: #10b981; */
  @apply bg-gray-600;
  border-radius: 14px;
}
